.lawnermover {
  position: absolute;
  height: 70px;
  background-size: contain; 
  background-repeat: no-repeat;
  transition: transform 0.1s linear;
  z-index: 10;

  &--moving {
    transform: translateY(10px);
  }
}